{% extends 'base.html' %}
{% load static %}
{% block content-block %}

  <link rel="stylesheet" href="{% static 'css/write.css' %}">

  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    function cancelBtn(){
      
      if (confirm('수정을 취소하시겠습니까? ')){
        
        location.href= "{% url 'fboard:fList' nowpage %}"

      }
    }

  </script>

    <h1>수정하기</h1>
    <hr>

    <form action="{% url 'fboard:fUpdate' nowpage board.f_no %}" name="write" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>분류</th>
          <td>
            <div class="category-wrapper">
              <select name="category" id="category">
                <option value="notice">공지</option>
                <option value="event">이벤트</option>
              </select>  
            </div>
          </td>
        </tr>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="title" id="title" value="{{ board.f_title }}">
          </td>
        </tr>
        
        <tr>
          <th>닉네임</th>
          <td>
            {{ request.session.session_nickname }}
            <input type='hidden' name="id" value = {{ request.session.session_id }}>
            <input type='hidden' name="group" value = {{ board.f_group }}>
            <input type='hidden' name="step" value = {{ board.f_step }}>
            <input type='hidden' name="indent" value = {{ board.f_indent }}>
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td>
            <textarea name="content" cols="50" rows="10" id="content">{{ board.f_content }}
          </textarea>
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" name="file" id="file">
          </td>
        </tr>
        <tr>
          <th>이미지 이름 </th>
          <td>
          {% if board.f_file %}
            {{ board.f_file }}
            <input type ="hidden" name='refile' value="{{ board.f_file }}">
          {% else %}
          이미지 없음
          {% endif %}
          </td>
        </tr>
      </table>
      <hr>
      <div class="button-wrapper">
        <button type="submit" class="write">수정완료</button>
        <button type="button" class="cancel" onclick='cancelBtn()'>취소</button>
      </div>
    </form>

     
    {% endblock content-block %}