<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student view</title>
    <style>
        * {margin:0; padding:0;}
        table, th, td{border: 1px solid black; border-collapse:collapse; text-align:center; font-size:18px;}
        table{width:600px;}
        th{width:100px; height:40px; background:#eee;}
        button{width: 100px; font-size:17px;  height:30px;cursor: pointer;}
        article{width: 600px; text-align:right;}

    </style>
    <script>
        function deleteBtn(){
            if(confirm('정말 삭제하시겠습니까 ? ')){
                location.href="{% url 'students:stuDelete' stu.s_no %}"
            }
            else{
                return false
            }

        }

    </script>
</head>
<body>
    <h2>Student Information</h2>
    <table>
        <tr>
            <th>제목</th>
            <th>내용</th>
        </tr>
        <tr>
            <td>no.</td>
            <td>{{ stu.s_no }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ stu.s_name }}</td>
        </tr>
        <tr>
            <td>Major</td>
            <td>{{ stu.s_major }}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{ stu.s_age }}</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>{{ stu.s_grade }}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ stu.s_gender }}</td>
        </tr>
        <tr>
            <td>Hobby</td>
            <td>{{ stu.s_hobby }}</td>
        </tr>
        
    </table>
    <br>
    <article>
        <a href="{% url 'students:stuList' %}"><button>GO to LIST</button></a>
        <a href="{% url 'students:stuUpdate' stu.s_no %}"><button>UPDATE</button></a>
        <button type="button" onclick="deleteBtn()">DELETE</button>
        {% comment %} <a href="{% url 'students:stuDelete' stu.s_no %}"><button>삭제</button></a> {% endcomment %}
    </article>
  

</body>
</html>